extends layout.pug

block content
  section#content
    h2= text 
    if hint
      p
        i Hint: #{hint}
        //- if side is question
        if side==='question'
          //- link to answer
          a(href=`/cards/${id}?side=answer`) Answer
          //- else link to question
        if side === 'answer'
          a(href=`/cards/${id}?side=question`) Question  
