extends layout.pug
block content
    form(action='/hello', method='POST')
        label Please enter your name
            input(type='text', name='username')
        button(type='submit', name='submit') Submit

